@import '~bootstrap/scss/bootstrap';

nav {

    display: flex;
    justify-content: space-between;

    img.logo {
        margin-bottom: 2em;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        list-style-type: none;

        li {

            padding: 12px 6px;

            &.active {
                background-color: #b3e5fc;
            }

        }

    }

}


main {
    //background-image: url('../img/fondo-pag-speciali.jpg');
    //background-size: cover;
    //background-position: center;

    background-color: bisque;

    padding: 40px 0;

    .card {
        padding: 8px;

        color: gray;
        text-transform: uppercase;
        font-size: .9em;
        text-align: center;

        .card-inner {
            background-color: white;

            padding-bottom: 2em;

            img {
                width: 100%;
            }

        }
    }
}


footer {
    padding: 80px 0;

    background-color: beige;
}